%html
  %head
    %title= yield :title
    %meta{"http-equiv" => "Content-type", :content => "text/html; charset=utf-8"} 
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}

    = stylesheet_link_tag    "jqmobi/styles/icons.css", :media => "all"
    = stylesheet_link_tag    "jqmobi/themes/jq.ui.slate.css", :media => "all"

    = stylesheet_link_tag    "jqmobi/application.css", :media => "all"

    = javascript_include_tag "jqmobi/jq.ui.min.js", charset: "utf-8"

    -#%script{type: "text/javascript", charset: "utf-8", src: "/js/touch.js"}

    = javascript_include_tag "jqmobi/application.js", charset: "utf-8"

    %script{:type => 'text/javascript'}
      :plain
        $(function(){
          $.ui.removeFooterMenu();
          $.ui.toggleHeaderMenu();
        });
      =yield :jquery
    = csrf_meta_tags
  %body
    #jQUi
      #splashscreen.ui-loader
        #profile_image
          =image_tag "logo.png"
        %br
        %br
        %span.ui-icon.ui-icon-loading.spin
        %h1 Comenzando app

      #header.linea-7
        =image_tag "logo-metro.png"

      #content
        =yield
