<h1>Listing estaciones</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Linea</th>
    <th>Imagen</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @estaciones.each do |estacion| %>
  <tr>
    <td><%= estacion.nombre %></td>
    <td><%= estacion.linea_id %></td>
    <td><%= estacion.imagen %></td>
    <td><%= link_to 'Show', estacion %></td>
    <td><%= link_to 'Edit', edit_estacion_path(estacion) %></td>
    <td><%= link_to 'Destroy', estacion, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Estacion', new_estacion_path %>
