<div data-role="page">
  <div data-role="header" data-position="inline" >
    <h1><%= @estacion.nombre %></h1>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-theme="c" data-divider-theme="a">
      <li data-role="list-divider">Salida 1</li>
      <% @camaras.each do |camara| %>
      <li>
	<a href="<%=camara_path(camara)%>">
          <%=camara.descripcion%>
	</a>
      </li>
      <% end %>
      <li data-role="list-divider">Pasillo principal</li>
      <% @camaras.each do |camara| %>
      <li>
	<a href="<%=camara_path(camara)%>">
          <%=camara.descripcion%>
	</a>
      </li>


    <% end %>
    </ul>
  </div>
</div>
