<div data-role="page">
  <div data-role="header" data-position="inline" class="linea-<%= @estacion.linea.nombre %>">
    <a data-rel="back" data-icon="arrow-l" class="atras-<%= @estacion.linea.nombre %>">Atrás</a>
    <h1><%= @estacion.nombre %></h1>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-filter="true" data-filter-placeholder="Buscar" data-theme="c" data-divider-theme="a" class="linea-<%= @estacion.linea.nombre %>">
      <% @camaras.each do |camara| %>
      <%#<li data-role="list-divider" class="division-< @estacion.linea.nombre ">Nombre</li>%>
      <li>
        <a href="<%=camara_path(camara)%>">
          <%=camara.nombre%>
        </a>
      </li>
      <% end %>

    </ul>
  </div>
</div>
