<div data-role="page" class="lineas-section">
  <div data-role="header" data-position="inline" >
    <img alt="STC Metro" src="<%=image_path 'logo.png'%>" />
    <h1>Líneas</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-theme="c">

    <% @lineas.each do |linea| %>
    <li>
      <a href="<%=linea_path(linea)%>">
        <%=linea.nombre%> : <%=linea.estaciones.first.nombre%> - <%=linea.estaciones.last.nombre%>
      </a>
    </li>

    <% end %>
    </ul>
  </div>
</div>
