<div data-role="page" class="lineas-section">
  <div data-role="header" data-position="inline" >
    <a class="ui-btn-left atras-7" data-icon="arrow-l" data-rel="back">Atrás</a>
    <h1>Líneas</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-theme="c">

    <% @lineas.each do |linea| %>
    <li class="linea-activa-<%=linea.nombre%>">
      <a href="<%=linea_path(linea)%>">
        <%=linea.nombre%> : <%=linea.estaciones.first.nombre%> - <%=linea.estaciones.last.nombre%>
      </a>
    </li>

    <% end %>
    </ul>
  </div>
</div>


