<div data-role="page">
  <div data-role="header" class="linea-<%= @linea.nombre %>">
<% if @linea.nombre == "B" %>
<span class="linea-B-2"></span>
<% end %>    
<h1>Línea <%= @linea.nombre %></h1>
  </div>
  <div data-role="content">
    <ul data-role="listview" data-theme="c">

    <% @estaciones.each do |estacion| %>
    <li>
      <a href="<%=estacion_path(estacion)%>">
        <img class="estacion" src="<%=image_path estacion.imagen%>" />
        <h3><%=estacion.nombre%></h3>
        <p>Teléfono: 55583478</p>
        <span class="ui-li-count">10</span>
      </a>
    </li>

    <% end %>
    </ul>
  </div>
</div>
