<div data-role="page" class="pagina-gris tablero">
  <div data-role="header" data-position="inline" >
    <img alt="STC Metro" src="<%=image_path 'logo.png'%>" />
    <h1>Metro</h1>
  </div>

  <div data-role="content">
    <div class="ui-grid-a" data-theme="c">
      <div class="ui-block-a"><a href="<%=lineas_path%>"><img src="<%=image_path('lineas.png')%>" /></a></div>
      <div class="ui-block-b"><a href="<%=estaciones_path%>"><img src="<%=image_path('estaciones.png')%>" /></a></div>
      <div class="ui-block-a"><a href="<%=camaras_path%>"><img src="<%=image_path('camaras.png')%>" /></a></div>
      <div class="ui-block-b"><a href="http://192.168.1.74:1234/stream.sdp"><img src="<%=image_path('favoritos.png')%>" /></a></div>
    </div>
  </div>
</div>
